

*.aux
*.gz
*.fls
thesis/main.log
thesis/main.fdb_latexmk
*.xml
*.bbl
*.blg
thesis/main-blx.bib
thesis/build/
settings.json

src/dataset/
src/FedAvg/
src/fedprox/
src/multirun/
src/outputs/
.vscode/
src/FEDAVG/__pycache__/
TFM_venv/

Manifest.toml
Project.toml

dataset/
